/* .img {
    max-width: 20%;
}
 */
.grid {
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-evenly;
    text-rendering: geometricPrecision;
    justify-items: auto;
    gap: 30px;
   /*  justify-content:space-between */;
    float: left; 
   
}

.imgn {
    height: 280px;
    
}
/* 
.tittle {

} */