.grid {
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-evenly;
    text-rendering: geometricPrecision;
    justify-items: auto;
    gap: 30px;
    float: left; 
}
.imgn {
    max-height: 250px;
    max-width: 300px ;
    
}


.tarjeta {
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 padding-top: 10px;

}