    
    .nav-items{
      width: auto;
        display: flex !important;
        list-style: none;
        margin-bottom: 0px !important;
        align-items:center ;
        margin: 6px;
        position:static;
        justify-content:space-evenly ;
        padding-right: 2rem;
     
    }
    .inicio {
      color: rgb(0, 0, 0);
      font-size: 28px;
      font-weight :900;
      letter-spacing: 3px;
      font-family: 'Montserrat';
      }
    .nav-item {
        color:rgb(0, 0, 0);
        font-size: 18px;
        font-weight: 480;
        letter-spacing: 1px;
        text-decoration: none;
        margin-left: 20rem;
        justify-content: end;
    }
   
     .nav-conteiner{
       width: 100%;
        min-height: 60px;
        max-height:70px;
        display: flex;
        justify-content: space-evenly;
        align-items:center;
        padding: 0px;
        border-bottom: 1px solid #ffffff;
        z-index:1;
      
       
   
    } 


    .nav-item:nth-child(1) {
        margin-right: 20px;
        }
       
   
     .nav-item:nth-child(2) {
        margin-right: 50px;
     }
 
     .cart-img {
        filter: brightness(1.1);
        mix-blend-mode: multiply;
        max-width: 30px;
        margin-top: -5% !important;
        display: flex !important;
        margin-bottom: 0px !important;
        margin-left: 2rem;
     }
     .cart-img2 {
        filter: brightness(1.1);
        mix-blend-mode: multiply;
        max-width: 30px;
        margin-top: -8% !important;
        margin-bottom: 0px !important;
        display: flex !important;
        margin-left: 1rem;
     }
 
     .me-gusta {
        filter: brightness(1.1);
        mix-blend-mode: multiply;
        max-width: 30px;
        margin-top: -8%;
        display: flex;
        margin-left: 1rem;
     }


    /*  @media only screen and (max-width: 766px) {
      .nav-items {
        margin: 10px 0;
        min-width: 350px;
        width: calc(100% - 60px);
      }
    }
    
    @media only screen and (min-width: 767px) and (max-width: 1500px) {
      .nav-items {
        margin: 10px 0;
      }
    } */

