    .nav-items{
      width: auto;
      overflow: auto;
        display: flex !important;
        list-style: none;
        margin-bottom: 0px !important;
        align-items:center;
        margin: 15px;
        position: relative;
        justify-content: space-between !important;
    }
    .nav-logo {
      color: rgb(0, 0, 0);
      font-size: 28px;
      font-weight :900;
      letter-spacing: 3px;
      font-family: 'Montserrat';
      }
    .nav-item {
        color: #c77f7f;
        font-size: 18px;
        font-weight: 480;
        letter-spacing: 1px;
        text-decoration: none;
        margin-left: 2rem;
    }
   
    .nav-conteiner{
        width: 100%;
        min-height: 60px;
        max-height: 90px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items:center;
        flex-wrap: wrap;
        padding: 0px;
        background-color:rgb(246, 224, 247);
        border-bottom: 1px solid #ffffff;
        z-index: 999;
       
   
    }
       
       
    .nav-item:nth-child(1) {
        margin-right: 50px;
        }
       
   
     .nav-item:nth-child(2) {
        margin-right: 50px;
     }
 
     .cart-img {
        filter: brightness(1.1);
        mix-blend-mode: multiply;
        max-width: 30% !important;
        margin-top: -8% !important;
        display: flex !important;
        margin-bottom: 0px !important;

     }
     .cart-img2 {
        filter: brightness(1.1);
        mix-blend-mode: multiply;
        max-width: 30% !important;
        margin-top: -8% !important;
        margin-bottom: 0px !important;
        display: flex !important;
     }
 
     .me-gusta {
        filter: brightness(1.1);
        mix-blend-mode: multiply;
        min-width: 30% !important;
        max-width: 30% !important;
        margin-top: -8%;
        display: flex;
     }

     @media only screen and (max-width: 766px) {
      .nav-items {
        margin: 10px 0;
        min-width: 350px;
        width: calc(100% - 60px);
      }
    }
    
    @media only screen and (min-width: 767px) and (max-width: 1500px) {
      .nav-items {
        margin: 10px 0;
      }
    }


