.footer-1 {
/*     border-top: 1px solid black */
    bottom:0;
    margin-top: 0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.lala {
    border-top: 1px solid black;
}

.boton {
    background-color: rgb(210, 204, 212);

}