.caja {
    margin-top: 20px;
    background-color: aqua;
}

.parrafo {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;    
}

.subtitulo2 {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}